a{
	outline: 0;
}

a:focus,a:hover,a:visited{
	text-decoration: none;
	outline: 0;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	outline: 0;
    outline-offset:0;
}

.order-summary-page{
	position: relative;
	top: 120px;
}

.main-menu{
	max-width: 900px;
}

.top-header>div
{
    float: right;
    
}

.logo{
	position: absolute;
	max-width: 110px;
	top:0px;
	left: 0px;	 
}

.main{
	background-color: #fff;	
	margin-top: 28px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color: #fff;
	border:2px solid gray;
	min-height: 58px;
}

.navbar-default .navbar-collapse .glyphicon{
	line-height: 0;
}

.navbar-default{
	border-color: #fff;
	background-color: #fff;
}

.main{
	padding: 0px;
	background-color: #fff;
}

.main .navbar-menu{
	font-size: 17px;
}

.main .navbar-menu>li:hover{
	border-bottom:4px solid #5bc0de;
}

.navbar-nav>li>.dropdown-menu{
	padding: 0px;
}

.dropdown-menu>li{
	border-bottom: 1px solid gray;
}

.dropdown-menu>li>a:hover{
	border-right: 3px solid #5bc0de;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-color: #fff;
}

.navbar-right{
	margin-right: 0px;
}

.main .navbar-menu>li>a
{
	padding: 15px 20px;

}

		.main .navbar-header .cart
		{
			margin-top: 10px;
			float: right;
			margin-right: 5px;
		}
		.main .navbar-header .sign-up
		{
			margin-top: 12px;
			float: right;
			margin-right: 5px;
		}
		.main .navbar-collapse .cart-2
		{
			margin-top: 10px;
			margin-left: 20px;
		}
		.navbar-default .navbar-nav>.active>a
		{	
			background-color: #fff;
		}

		.main .navbar-menu .dropdown .dropdown-list
		{
			left: 0px;
		}

		.top-banner{
			margin-top: 120px;
		}
		.main-container .top-banner .slider-img
		{
			width: 100%;
			max-height: 450px;
			margin-top: 50px; 
		}
		.main-container .product-grid
		{
		}
		.main-container .heading
		{
			text-align: center;
		}
		.main-container .product-grid .sale-img
		{
			max-width:200px;
			margin: 0 auto;
		    display: block;
		}
		.main-container .product-grid .sale-shop
		{
			padding-bottom: 20px;
			background-color: #f2f2f2;

		}
		.main-container .product-grid .sale-shop .bottom-btn
		{
			padding-right: 0px;
		    padding-left: 0px;
		}
		.main-container .product-grid .sale-shop .bottom-btn .add
		{
			border-radius: 0px;
			background-color: black;
			border-color: black;
			width: 100%;
		}

		.main-container .mobile-product .shop-box
		{
			padding:0 15px 0 15px; 

		}
		.main-container .mobile-product .shop
		{
			border: 1px solid #dddddd;
			padding-right: 0px;
		    padding-left: 0px;
		    margin-bottom: 50px;
		    transition: all 1.0s ease;

		}
		.main-container .mobile-product  .img-product
		{
			height: 290px;
			width: 100%;
		}
		.main-container .mobile-product .shop:hover
		{
			cursor: pointer;
			box-shadow: 5px;
			box-shadow: 0px 0px 15px 0px;

		}
		.main-container .mobile-product .shop-box .shop .product-img
		{
			display: block;
			margin: 0 auto;
			padding-bottom: 26px;
			max-width: 220px;
			max-height: 260px;
		}
		.main-container .mobile-product .shop-box .shop .price
		{
			height: 46px;
			background-color: #d5d5d5;
			padding-top: 13px;
		}
		.main-container .mobile-product .shop-box .shop .price .product-price
		{
			font-size: 18px;
		}
		.main-container .mobile-product .shop-box .shop .add-shop
		{
			padding-right: 0px;
		    padding-left: 0px;
		}
		.main-container .mobile-product .shop-box .shop .add-shop .add
		{
			border-radius: 0px;
			background-color: black;
			border-color: black;
			min-width: 100%;
		}
		.main-container .product-slide-row
		{
			margin-left: 30px;
			margin-right: 30px;
		}
		.carousel-control.left, .carousel-control.right {
		  background-image:none;
		}

		.img-responsive{
		  width:100%;
		  height:auto;
		}




@media (min-width: 320px) and (max-width: 767px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		width: 100%;
	    margin: 0px;
	}

	/*.dropdown-menu>li>a{
		margin-left:15px; 
	}*/

	.dropdown-menu>li>a:hover{
		border-right: 0px;
		border-left: 3px solid #5bc0de;
	}

}

@media (max-width: 991px){
	.main-menu{
		max-width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-default{
		background-color: #fff;
	}

	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
	}

	.dropdown-menu>li>a:hover{
		border-right: 0px;
		border-left: 4px solid #5bc0de;
	}

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
		border:1px solid gray;
		max-height: none;
		margin-top: 0px;	
    }
   
    .navbar-nav {
        float: none!important;
		margin: 0px;
    }
    .navbar-nav>li {
    	border: 1px solid  gray;	
        float: none;
        width: 100%;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;       
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

		
@media (min-width: 992px ) {

  .carousel-inner .active.left {
    left: -25%;
  }
  .carousel-inner .next {
    left:  25%;
  }
  .carousel-inner .prev {
    left: -25%;
  }
}

@media (min-width: 768px) and (max-width: 991px ) {
  .carousel-inner .active.left {
    left: -33.3%;
  }
  .carousel-inner .next {
    left:  33.3%;
  }
  .carousel-inner .prev {
    left: -33.3%;
  }
  .active > div:first-child {
    display:block;
  }
  .active > div:first-child + div {
    display:block;
  }
  .active > div:last-child {
    display:none;
  }
}

@media (max-width: 767px) {
	
	.navbar-default{
		background-color: #fff;
	}
  .carousel-inner .active.left {
    left: -100%;
  }
  .carousel-inner .next {
    left:  100%;
  }
  .carousel-inner .prev {
    left: -100%;
  }
  .active > div {
    display:none;
  }
  .active > div:first-child {
    display:block;
  }
}

.main-container .carousel .carousel-inner .slide-box
{
	padding: 10px;
}

.main-container .carousel .carousel-inner .slide-box .slide-box-product
{
	border: 1px solid black;
	padding-right: 0px;
	padding-left: 0px;
}
.main-container .carousel .carousel-inner .slide-box .slide-box-product .slide-product-img
{
	height: 250px;
    width: 100%;
}
.main-container .carousel .carousel-inner .slide-box .slide-box-product .slide-product-img .slide-image
{
	max-width: 220px;
    max-height: 260px;
    display: block;
    margin:0 auto;
}
.main-container .carousel .carousel-inner .slide-box .slide-box-product .slide-bottom-btn
{

	padding: 0px;
}
.main-container .carousel .carousel-inner .slide-box .slide-box-product .slide-bottom-btn .add
{
	border-radius: 0px;
	background-color: black;
	border-color: black;
	width: 100%;
}
.main-container .footer-row
{
	margin-right: 0px;
	margin-left: 0px;
	background-color: black;
}
.main-container .footer
{
	
	padding: 5px 50px;
	color: white;
	font-style: italic;
	text-align: center;
}


.main-container .apple-product
{
	margin-top:85px;
}

.top-margin
{
	margin-top:150px;
}

/* Billing address  */
.billing .billing-heading
{
	background-color: #CFCFCF;
	padding-left: 28px;
    padding-bottom: 0px;
    border-bottom: 5px solid black;
}

.billing .billing-heading h2
{
	margin-bottom: 2px;
}

.billing .form-bill
{
    padding: 34px 40px 10px 40px;
    border: 2px solid #CFCFCF;
}


/*  product detail  */

.product-detail
{
	margin-top: 100px;
}

.item-container{	
	top:120px;	
	margin-left:auto !important;
	margin-right:auto !important;
}


.product-detail  ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
.product-detail  li.active{border-bottom:3px solid silver;}

.product-detail .item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.product-detail .item-photo img { max-height: 400px;}
.product-detail .btn-success{width:100%;border-radius:0px;}
.product-detail .section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
.product-detail .title-price{margin-top:30px;margin-bottom:0px;color:black}
.product-detail .title-attr{margin-top:0px;margin-bottom:0px;color:black;}
.product-detail .btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0px;}
.product-detail .btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0px;}
.product-detail div.section > div {width:100%;display:inline-flex;}
.product-detail div.section > div > input {margin:0px;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.product-detail .attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.product-detai .lattr.active,.attr2.active{ border:1px solid orange;}


.product-detail .button-box
{
	margin-top: 10px;
	padding: 10px 0 10px 0;
	border: 2px solid black;
	margin-left: -15px;
}
.product-detail .button-box .btn-cart 
{
	background-color: black;
	border: none;
}
.product-detail .button-box .btn-buy 
{
	background-color: red;
	border: none;
}

.product-detail .features
{
	border: 1px solid gray;
	margin-top: 80px;
}
.product-detail .features h2
{
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
}
.product-detail .specification
{
	border: 1px solid gray;
	margin-top: 40px;
}
.product-detail .specification h2
{
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
}

.main-container .review{
	margin-top: 100px;
}

.main-container .reviews{
	border-top:1px dotted ;
	margin: 10px;
	padding: 10px;
}

.main-container .reviews> p{
	min-height: 30px;
	padding: 15px 10px;
}

.main-container .reviews .update{
	display:inline-block;
	vertical-align: top;
	padding: 5px 20px;
	min-width: 49%;
}

.main-container .reviews> img{
	height: 50px;
	width: 50px;
	border-radius: 25px;
	margin: 0 10px;	
}

.main-container .reviews .name{
	color: #337AB7;
	font-weight: bold;
}

.main-container .reviews .update> a{
	outline: 0;
}

.main-container .reviews .update> a span{
	border:1px solid gray;
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
	font-size: 22px;
	margin: 0 5px;
	padding: 5px;
}

@media (min-width: 320px) and (max-width: 767px){
	.main-container .reviews .update{
		display: block;
		padding: 5px 10px;
	}
} 

/*	End Review		*/

/*	Delivery Page 	*/

.main-container .delivery-page{
	margin-top: 100px;
	padding: 15px;
}

.main-container .delivery-page .product-detail, .product-status{
	box-shadow: 0 0 2px;	
	margin: 15px 0;
}

.main-container .delivery-page .transit{
	color: green;
	font-weight: bold;
}

.main-container .delivery-page .horizontal{
	border:1px solid #b2cee7;
	margin: 20px 0px;
}

.main-container .delivery-page .delivery-status{
	/*border:1px solid;*/
	margin: 10px;
}

.main-container .delivery-page  .delivery-status .show-more{
	color:#337ab7;
	font-weight: bold;
}

.main-container .delivery-page  .delivery-status .status-detail{
	border-bottom:2px solid #b2cee7;
	margin: 20px 0px;
	position: relative;
	padding: 0px;

}

.main-container .delivery-page  .delivery-status .status{
	padding: 20px 0;
}

.main-container .delivery-page  .delivery-status .status .order-img{

	border-radius: 25px;
	border: 2px solid #fff;
	background-color: #337AB7;
	height: 50px;
	width: 50px;
}

.main-container .delivery-page  .delivery-status .order-img> img{
	height: 30px;
	width:30px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

.main-container .delivery-page  .delivery-status .status .caption{
	font-weight: bold;
	font-size: 13px;
	margin: 5px;
}

.main-container .delivery-page  .delivery-status .bar{
	/*border:2px solid red;*/
	width: 95%;
	border-radius: 0px;
	height: 8px;
	margin-bottom: 0px;
	position: absolute;
	top: 40px;
	z-index: -1;
	background-color: #e9dbdb;
}

.main-container .delivery-page  .delivery-status .progress-bar{
	margin-left: 3px;
	margin-bottom: 0px;
	width: 70%;
}

@media (min-width: 320px) and (max-width: 767px){
	.main-container .delivery-page  .delivery-status .status .order-img{
		height: 40px;
		width: 40px;
	}

	.main-container .delivery-page  .delivery-status .order-img> img{
		height: 25px;
		width:25px;
		margin-top: 5px;
	}
	.main-container .delivery-page  .delivery-status .bar{
		height: 5px;
		top: 35px;
		width: 77%;
	}

} 

/*	End Delivery page 	*/
>>>>>>> 79e94e368f2b9f9f6eda49a46513b78666a6b4b7
