.top-header
{
	background-color: black;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 7px;
    text-align: right;
    
}

.top-header>ul>li
{
	display: inline-block;
	padding: 0px 12px;
	color: white;
}

.logo{
	position: absolute;
	max-width: 110px;
/*	margin-right: 10px;	*/
	top:0px;
	left: 0px;	 
}

.main{
	background-color: #fff;
	border:2px solid gray;
	max-height: 53px;
	margin-top: 30px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color: #fff;
	border:2px solid gray;
/*	max-height: 53px;*/
}

.navbar-default{
	border-color: #fff;
	background-color: #fff;
}

.main{
	padding: 0px;
	background-color: #fff;
}

.main .navbar-menu{
	font-size: 17px;
}

/*.main .navbar-menu>li>a:hover{
	background-color: #fff;
	border-bottom:4px solid #5bc0de;
}
*/
.main .navbar-menu>li:hover{
	background-color: #fff;
	border-bottom:4px solid #5bc0de;
}

.navbar-nav>li>.dropdown-menu{
	padding: 0px;
}

.dropdown-menu>li{
	border-bottom: 1px solid gray;
}

.dropdown-menu>li>a:hover{
	border-right: 3px solid #5bc0de;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-color: #fff;
}

.navbar-right{
	margin-right: 0px;
}

/*.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #fff;
}*/

/*.navbar-menu{
	border:1px solid black;
	width: 1000px;
}*/

@media (min-width: 320px) and (max-width: 767px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	/*	height: auto;*/
		width: 100%;
	    margin: 0px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-default{
		background-color: #fff;
	}

	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
		border:1px solid gray;
		max-height: none;
		margin-top: 0px;	
    }

    /*.navbar-default .navbar-toggle{
    	margin-top: 40px;
    }*/
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
		/*margin: 7.5px 9px 7.5px -11px;*/
		margin: 0px;
    }
    .navbar-nav>li {
    	border: 1px solid  gray;	
        float: none;
        width: 100%;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 20px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.main .navbar-menu>li>a
{
	padding: 15px 30px;

}
.main .navbar-menu>li>a:hover
{
	/*background-color: #5bc0de;*/
	background-color: #fff;
}
.main .navbar-header .cart
{
	margin-top: 10px;
	float: right;
	margin-right: 5px;
}
.main .navbar-header .sign-up
{
	margin-top: 12px;
	float: right;
	margin-right: 5px;
}
.main .navbar-collapse .cart-2
{
	margin-top: 10px;
	margin-left: 20px;
}
.navbar-default .navbar-nav>.active>a
{
	/*background-color: #5bc0de;*/
	background-color: #fff;
}
}
.navbar-default .navbar-nav>.open>a
{
	background-color: #5bc0de;
}

/*.main-container
{
	padding-right: 0px;
    padding-left: 0px;
}*/
.top-banner{
	margin-top: 120px;
}
.main-container .top-banner .slider-img
{
	width: 100%;
	max-height: 450px;
	margin-top: 50px; 
}
.main-container .product-grid
{
}
.main-container .heading
{
	text-align: center;
}
.main-container .product-grid .sale-img
{
	max-width:200px;
	margin: 0 auto;
    display: block;
}
.main-container .product-grid .sale-shop
{
	padding-bottom: 20px;
	background-color: #f2f2f2;

}
.main-container .product-grid .sale-shop .bottom-btn
{
	padding-right: 0px;
    padding-left: 0px;
}
.main-container .product-grid .sale-shop .bottom-btn .add
{
	border-radius: 0px;
	background-color: black;
	border-color: black;
	width: 100%;
}

.main-container .mobile-product .shop-box
{
	padding:0 15px 0 15px; 

	/*min-width: 449px;*/

}
.main-container .mobile-product .shop
{
	border: 1px solid #dddddd;
	padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 50px;
    transition: all 1.0s ease;

}
.main-container .mobile-product  .img-product
{
	height: 290px;
	width: 100%;
}
.main-container .mobile-product .shop:hover
{
	background-color: #46b8da;
	cursor: pointer;
	box-shadow: 5px;
	box-shadow: 0px 0px 15px 0px;

}
.main-container .mobile-product .shop-box .shop .product-img
{
	display: block;
	margin: 0 auto;
	padding-bottom: 26px;
	max-width: 220px;
	max-height: 260px;
}
.main-container .mobile-product .shop-box .shop .price
{
	height: 46px;
	background-color: #d5d5d5;
	padding-top: 13px;
}
.main-container .mobile-product .shop-box .shop .price .product-price
{
	font-size: 18px;
}
.main-container .mobile-product .shop-box .shop .add-shop
{
	padding-right: 0px;
    padding-left: 0px;
}
.main-container .mobile-product .shop-box .shop .add-shop .add
{
	border-radius: 0px;
	background-color: black;
	border-color: black;
	min-width: 100%;
}
.main-container .product-slide-row
{
	margin-left: 30px;
	margin-right: 30px;
}
.carousel-control.left, .carousel-control.right {
  background-image:none;
}

.img-responsive{
  width:100%;
  height:auto;
}

@media (min-width: 992px ) {

  .carousel-inner .active.left {
    left: -25%;
  }
  .carousel-inner .next {
    left:  25%;
  }
  .carousel-inner .prev {
    left: -25%;
  }
}

@media (min-width: 768px) and (max-width: 991px ) {
  .carousel-inner .active.left {
    left: -33.3%;
  }
  .carousel-inner .next {
    left:  33.3%;
  }
  .carousel-inner .prev {
    left: -33.3%;
  }
  .active > div:first-child {
    display:block;
  }
  .active > div:first-child + div {
    display:block;
  }
  .active > div:last-child {
    display:none;
  }
}

@media (max-width: 767px) {
	
	.navbar-default{
		background-color: #fff;
	}
  .carousel-inner .active.left {
    left: -100%;
  }
  .carousel-inner .next {
    left:  100%;
  }
  .carousel-inner .prev {
    left: -100%;
  }
  .active > div {
    display:none;
  }
  .active > div:first-child {
    display:block;
  }
}

.main-container .carousel .carousel-inner .slide-box
{
	padding: 10px;
}

.main-container .carousel .carousel-inner .slide-box .slide-box-product
{
	border: 1px solid black;
	padding-right: 0px;
	padding-left: 0px;
}
.main-container .carousel .carousel-inner .slide-box .slide-box-product .slide-product-img
{
	height: 250px;
    width: 100%;
}
.main-container .carousel .carousel-inner .slide-box .slide-box-product .slide-product-img .slide-image
{
	max-width: 220px;
    max-height: 260px;
    display: block;
    margin:0 auto;
}
.main-container .carousel .carousel-inner .slide-box .slide-box-product .slide-bottom-btn
{

	padding: 0px;
}
.main-container .carousel .carousel-inner .slide-box .slide-box-product .slide-bottom-btn .add
{
	border-radius: 0px;
	background-color: black;
	border-color: black;
	width: 100%;
}
.main-container .footer-row
{
	margin-right: 0px;
	margin-left: 0px;
	background-color: black;
}
.main-container .footer
{
	
	padding: 5px 50px;
	color: white;
	font-style: italic;
}


.main-container .apple-product
{
	margin-top:85px;
}