
.wrapper {
  margin-top: 140px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.main-container .popup-color
{
  background-color: rgba(0,0,0,0.5);
}


.main-container .main{
  margin-top: 70px;
}

.main-container h1.title { 
  font-size: 50px;
  font-family: 'Passion One', cursive; 
  font-weight: 400; 
}

.main-container hr{
  width: 10%;
  color: #fff;
}

.main-container .form-group{
  margin-bottom: 15px;
}

.main-container label{
  margin-bottom: 15px;
}

.main-container input,
.main-container input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-container .main-login{
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-container .main-center{
  margin-top: 0px;
  margin: 0 auto;
  max-width: 400px;
    padding: 5px 40px;

}

.main-container .login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}
